.step_bar {

}

.step_bar ul{
    list-style: none;
    letter-spacing:-0.6em;
    text-align:center;
    padding:0;
}

.step_bar li{
    display: inline-block;
    font-size:1.2em;
    text-align: center;
    letter-spacing:0.1em;

}

.circle {
    border:solid lightgray;
    border-radius:50%;
    width:2em;
    line-height:2em;

}

.bar {
    border:solid  lightgray;
    background-color:lightgray;
    padding:0%;
    width:8em;
    line-height:0.2em;
}

.circle_under {

}

.bar_under {
    padding:0%;
    width:8.35em;
    line-height:0.2em;
}


#main {
    padding:10%;
}

.question {
    font-size: 1.4em;
    text-align: center;
}
.controller_button {
    text-align: center;
}

#back_question, #next_question, #cancel_question {
    display: inline-block;
}
